################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TaskMana/FileContentIndex/cee2462c-3868-4ae4-ad59-48d46c7e24e3.vsidx
/.vs/TaskMana/FileContentIndex/10b59568-dfbb-4359-9ac0-1313f183ea73.vsidx
/.vs/TaskMana/FileContentIndex/f6b5b610-92ef-46cb-91f8-c22972ade6b3.vsidx
/.vs/TaskMana/FileContentIndex/38f03c09-258e-46e4-9142-fe7f0e6e2b80.vsidx
/.vs/TaskMana/FileContentIndex/43874758-3a12-45df-84a2-92348eea4b49.vsidx
/.vs/TaskMana/FileContentIndex/9ea08076-036d-4b7a-83cf-09ae5e475115.vsidx
