################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TaskMana/FileContentIndex/cee2462c-3868-4ae4-ad59-48d46c7e24e3.vsidx
/.vs/TaskMana/FileContentIndex/10b59568-dfbb-4359-9ac0-1313f183ea73.vsidx
/.vs/TaskMana/FileContentIndex/f6b5b610-92ef-46cb-91f8-c22972ade6b3.vsidx
